* {
  margin: 0px;
}
body {
  height: 100vh;
  position: relative;
  z-index: -1;
  background: linear-gradient(
    to right bottom,
    #ff5349,
    #bd3b44,
    #7c2937,
    #3f1a22,
    #000000
  );
  background-size: cover;
}
a {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.704);
  color: orangered;
}
.border:hover {
  border-top: 2px double #000;
}
.color:hover {
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  width: 100%;
  color: orangered;
}
.logo {
  position: absolute;
  left: 20px;
  top: 10px;
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: url(LOGO.jpeg) no-repeat;
  mix-blend-mode: color-dodge;
  background-size: cover;
}
.navbartab {
  position: relative;
  top: 10px;
  height: 100px;
  width: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.toplogo {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}
.photo {
  width: 400px;
  height: 400px;
  background: url(LOGO.jpeg) no-repeat;
  background-size: cover;
  mix-blend-mode: color-dodge;
  position: relative;
  left: 150px;
  border-radius: 30%;
  border-top: 5px solid orangered;
}
.photo:hover {
  width: 400px;
  height: 400px;
  transition: all ease-in-out 2s;
  background: url(me.jpeg) no-repeat;
  background-size: cover;
}
.infocontent {
  height: 300px;
  width: 700px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40vh;
  right: 100px;
  font-size: 2rem;
}
.info {
  height: 300px;
  width: 600px;
  position: absolute;
  left: 80px;
  font-size: 3rem;
  color: white;
}
.normal {
  color: orangered;
}
.small {
  font-size: 1.4rem;
}
.info:hover {
  transition: all ease-in-out 2s;
}
.link {
  height: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.fa-brands {
  color: aliceblue;
}
.fa-brands:hover {
  color: #6f686d;
}
@media screen and (max-width: 414px) {
  * {
    margin: 0px;
  }
  body {
    width: 100vw;
    height: 120vh;
    position: relative;
    z-index: -1;
    background-image: linear-gradient(
      to right bottom,
      #ff5349,
      #bd3b44,
      #7c2937,
      #3f1a22,
      #000000
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
  .border:hover {
    border: 2px double #000;
  }
  .color:hover {
    color: white;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    color: orangered;
  }
  .logo {
    position: absolute;
    left: 20px;
    top: 40px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url(LOGO.jpeg) no-repeat;
    mix-blend-mode: color-dodge;
    background-size: cover;
  }
  .navbartab {
    position: relative;
    top: 10px;
    height: 100px;
    width: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .toplogo {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 30%;
  }
  .photo {
    width: 200px;
    height: 200px;
    background: url(LOGO.jpeg) no-repeat;
    background-size: cover;
    mix-blend-mode: color-dodge;
    position: relative;
    left: 30px;
    border-radius: 30%;
    border-top: 5px solid orangered;
  }
  .photo:hover {
    width: 200px;
    height: 200px;
    transition: all ease-in-out 2s;
    background: url(me.jpeg) no-repeat;
    background-size: cover;
  }
  .infocontent {
    width: 400px;
    display: flex;
    justify-content: start;
    position: absolute;
    top: 27rem;
    left: 0px;
    font-size: 2rem;
  }
  .info {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 40px;
    font-size: 3rem;
    color: white;
  }
  .normal {
    color: orangered;
  }
  .small {
    width: 60vw;
    font-size: 1.4rem;
  }
  .info:hover {
    transition: all ease-in-out 2s;
  }
  .link {
    height: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .fa-brands {
    color: aliceblue;
  }
  .fa-brands:hover {
    color: #6f686d;
  }
}
